In [1]:
import sys
sys.path.append("../")
%load_ext autoreload
%autoreload 2
%matplotlib inline

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import simpleland
from simpleland import env
from simpleland.env import SimpleLandEnvSingle
from simpleland import gamectx
import time

Loading chipmunk for Linux (64bit) [/home/brandyn/anaconda3/envs/simpleland/lib/python3.7/site-packages/pymunk/libchipmunk.so]
pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html

In [13]:
env = SimpleLandEnvSingle(frame_skip=6,game_tick_rate=100000000000)

Starting SL v21
Actual Physics Tick Rate is 50.0, original 60 (change due to enforcing sim_timestep size of 0.01)
Loading Game Content.
60000.0 by 60000.0

/home/brandyn/anaconda3/envs/simpleland/lib/python3.7/site-packages/gym/logger.py:30: UserWarning: WARN: Box bound precision lowered by casting to float32
  warnings.warn(colorize('%s: %s'%('WARN', msg % args), 'yellow'))

In [14]:
env.observation_space

Box(19,)

In [15]:
client = env.env_main.agent_clients[env.agent_id]

In [16]:
obs = []
rewards = []
dones = []
infos = []
actions = []
counts = []
ticks = []
steps = 10000
start_time = time.time()


done = True
for i in range(steps):
    if done:
        ob = env.reset()
        reward = None
        action = None
        info = None
        done = False
    else:
        action = 1
        ob, reward, done, info = env.step(action)
    actions.append(action)
    obs.append(ob)
    rewards.append(reward)
    dones.append(done)
    counts.append(i)
    infos.append(info)
    ticks.append(gamectx.clock.get_tick_counter())
#     env.render(mode="rbg_array");

    
      
time_elapsed = time.time()-start_time
steps_per_sec = steps/time_elapsed
print(f"steps_per_sec: {steps_per_sec}")
#3153,2944,2168,2848

steps_per_sec: 193.0617779148639

In [7]:
data={}
data['counts'] = counts
data['obs']=obs
data['rewards']=rewards
data['actions']=actions
data['dones']=dones
data['info']=infos
data['ticks'] = ticks

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame.from_dict(data)

In [10]:
df[df['dones']==True]

,counts,obs,rewards,actions,dones,info,ticks
2160,2160,"[2.0, 2.0, 2.0, 2.0, 1.0, 0.0, 2.0, 2.0, 108.4...",1.0,1.0,True,{'energy': 0},2161
2522,2522,"[2.0, 2.0, 2.0, 2.0, 0.0, 1.0, 0.0, 2.0, 57.77...",1.0,1.0,True,{'energy': 0},2523
4684,4684,"[2.0, 2.0, 2.0, 2.0, 0.0, 1.0, 2.0, 2.0, 128.2...",1.0,1.0,True,{'energy': 0},4685
5046,5046,"[2.0, 2.0, 2.0, 1.0, 0.0, 2.0, 2.0, 2.0, 177.8...",1.0,1.0,True,{'energy': 0},5047
5408,5408,"[2.0, 2.0, 2.0, 1.0, 0.0, 2.0, 2.0, 2.0, 167.7...",1.0,1.0,True,{'energy': 0},5409
5770,5770,"[2.0, 2.0, 2.0, 0.0, 1.0, 1.0, 2.0, 2.0, 152.6...",1.0,1.0,True,{'energy': 0},5771

In [15]:
df[df['counts']<20]

,counts,obs,rewards,actions,dones,info,ticks
0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",NaN,NaN,False,None,1
1,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},2
2,2,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},3
3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},4
4,4,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},5
5,5,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},6
6,6,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},7
7,7,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},8
8,8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},9
9,9,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},10
10,10,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},11
11,11,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},12
12,12,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},13
13,13,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},14
14,14,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},15
15,15,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},16
16,16,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},17
17,17,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},18
18,18,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},19
19,19,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 3},20

In [16]:
df[df['counts']>=358]

,counts,obs,rewards,actions,dones,info,ticks
358,358,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 1},359
359,359,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 1},360
360,360,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,True,{'energy': 0},361
361,361,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",NaN,NaN,False,None,362
362,362,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 13},363
...,...,...,...,...,...,...,...
9995,9995,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 13},9996
9996,9996,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 13},9997
9997,9997,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 13},9998
9998,9998,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 13},9999
9999,9999,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 10000...",1.0,1.0,False,{'energy': 13},10000

In [16]:
gamectx.clock.get_tick_counter()

10011

In [17]:
gamectx.clock.get_exact_time()

15674.029541015625